!!! 5
%html
  %head
    %title Contr.ee
    %meta{name: 'description', content: 'Contr.ee is coming soon. It will change the way people from different countries understanding each other. Please leave your email to get informed of the launch of Contr.ee.'}
    %meta{name: 'keywords', content: "country, china, 'united stated'"}
    
    %link{rel: 'stylesheet', href: '/stylesheets/font.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    .inner
      = yield
    %script(src='/javascripts/jquery.js')
    %script(src='/javascripts/default.js')
    