!!! 5
%html
  %head
    %title Contr.ee
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Raleway:300,100'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    .inner
      = yield
    %script(src='/javascripts/jquery.js')
    %script(src='/javascripts/default.js')
    