!!! 5
%html
  %head
    %title Contr.ee
    %link{rel: 'stylesheet', href: '/stylesheets/font.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
  %body
    .inner
      = yield
    %script(src='/javascripts/jquery.js')
    %script(src='/javascripts/default.js')
    